 .cardsCities{
 
    display: flex;
    flex-direction: row;
} 

.cards img {
    border-radius: 20px;
}
 

.cardText{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.btnCard{
    border-radius: 25px;
}