.searchBar {
  text-align: center;
  padding: 1rem;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 0rem;
}

.containerCities{
 
  min-height: auto;
  background-image: url("../../../ /Construction.jpg");
background-size:cover;
background-position: center;
background-repeat: repeat-y;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
Font-family:  Georgia, serif;
}

.citiesPage{
background-color: whitesmoke;
padding: 10px;
border-radius: 25px;
border-style: groove;
gap: 10px;
}
.cardsCities {
display: flex;
gap: 10px;
margin: 5px;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}

.searchBar{
margin: 10px;
width: 900px;
display: flex;
background-color: rgba(251, 251, 251, 0.849)  ;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
  border-radius: 200px;
  align-items: center;
}

.searchTable{
width: 400px;
border-radius: 25px;
}

.buttonSearch{
width: 100px;
height: 50px;
border-radius: 25px;
}

.containerPage{
display: flex;
flex-direction: column;
  align-items: stretch;
}

@media(max-width: 500px)
{
  
  .searchBar{
    margin: 10px;
    width: 400px;
    display: flex;
    background-color: rgba(251, 251, 251, 0.849)  ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
      border-radius: 20px;
      align-items: center;
    }

 }

  